:root {
  --red-color: #D62722;
  --green-color: #91C545;
  --orange-color: #FFAC2B;
  --text-color: #343a40;
  --text-small-color: #6c757d;
  --blue-color: #52C2C3;
  --hover-button-color: #cacfd2;
  --purple-color: #A1459D;
}