/* src/views/ExploreBooks.css */
.explore-books-container {
  padding: 20px;
  text-align: center;
}

.filter-container {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.search-input,
.date-input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

.filter-container label {
  font-size: 14px;
  margin-right: 5px;
}

.filter-container select {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual tamaño */
  gap: 25px; /* Espaciado entre tarjetas */
  padding: 20px;
  max-width: 1200px; /* Limita el ancho total para evitar que se extienda demasiado */
  margin: 0 auto; /* Centra la cuadrícula */
}

/* Media queries para responsividad */
@media (max-width: 900px) {
  .books-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas medianas */
  }
}

@media (max-width: 600px) {
  .books-grid {
    grid-template-columns: 1fr; /* 1 columna en pantallas pequeñas */
  }
}

.modal-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}
.primary-btn:disabled {
  background: #a0a0a0; /* Gris cuando está deshabilitado */
  cursor: not-allowed;
}